{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <script src="{% static 'network/network.js' %}"></script>

    <h1>Following</h1>
    
    <div class="allPosts">
        {% for post in allPosts %}
            <div class="row post">
                <h5 class="username">@<a href="{% url 'profile' user_id=post.user.id%}">{{ post.user }}</a></h5>
                <h6 class="content">{{ post.content }}</h6>
                <p class="date">{{ post.date }}</p>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
            {% if postsPage.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page{{ postsPage.previous_page_nuber}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}
            {% if postsPage.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page{{ postsPage.next_page_nuber}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
      </nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
