{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" class="form-control" placeholder="enter title">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" name="description" class="form-control" placeholder="enter description">
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL:</label>
            <input type="text" min="0" name="imageUrl" class="form-control" placeholder="enter image url">
        </div>
        <div class="form-group">
            <label for="price">Starting Bid</label>
            <input type="number" name="price" class="form-control" placeholder="enter starting bid">
        </div>
        <div class="form-group">
            <label for="categories">Category:</label>
            <select name="category" id="category">
                {% for category in categories %}
                <option value="{{ category }}"  placeholder="slect category">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create New Listing</button>
    </form>
{% endblock %}