{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'catSelect' %}" method="POST" class="my-4">
        {% csrf_token %}
        <label for="categories">Category:</label>
            <select name="category" id="category">
                {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
                {% endfor %}
            </select>
        <button type="submit" class="btn btn-light">Select</button>
    </form>
    {% for listing in listing %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ listing.imageUrl }}" alt="{{ listing.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">View Listing</a>
            </div>
        </div>   
    {% endfor %}

{% endblock %}