{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container"></div>
        {% if message %}
            {% if update %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}    
            {% if not listing.active and user == listing.price.user %}
            <div class="alert alert-success" role="alert">
                <h3>CONGRATULATION! YOU WON!</h3>
            </div>
            {% elif listing.active and user == listing.price.user and user != listing.owner %}
            <div class="alert alert-success" role="alert">
                <h3>YOU ARE CURRENTLY THE HIGHEST BIDDER!</h3>
            </div>
            {% elif listing.active and watching %}
            <div class="alert alert-warning" role="alert">
                <h3>CURRENTLY WATCHING</h3>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <h2>{{ listing.title }} </h2>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="420px">
    <p>
        {{ listing.description }}
    </p>
    <h5>Current bid: $ {{ listing.price.bid }} usd</h5>
    {% if user.is_authenticated  and listing.active and user != listing.owner %} 
    <form action="{% url 'bid' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="newBid">Place bid:</label>
                <input type="number" min="0" name="newBid" placeholder="bid" rows="1" cols="7">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endif %}
    <h6>Seller: {{ listing.owner }}</h6>
        {% if user.is_authenticated  and listing.active %} 
            {% if owner %}  
                <form action="{% url 'close' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info">Close Auction</button>
                </form>
            {% else %}
                {% if watching %}
                    <form action="{% url 'rmWatchlist' id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                    </form>
                {% else %}
                    <form action="{% url 'adWatchlist' id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Add to Watchlist</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    <hr>

    {% if user.is_authenticated %}
        <form action="{% url 'adCom' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="comments">Add Comment</label><br>
                <textarea name="newCom" placeholder="Add Comment" rows="4" cols="69"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endif %}    
    <br>

    <h3>Comments</h3>
    <ul class="list-group">
        {% for comment in allCom %}
            <p><b>{{ comment.author }}:</b> {{ comment.message }}</p>
        {% endfor %}    
    </ul>


{% endblock %}