{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>Posts</h1>
    {% if user.is_authenticated %}
        <div class="newPost">
            <h2>New Post</h2>
            <form action="{% %}" method="xpost">
                {% csrf_token %}
                <textarea name="content" row="3" cols="69"></textarea>
                <br/>
                <input type="submit" value="Post" class="btn btn-primary"/>
            </form>
        </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
