.newPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 19px;
}

.allPosts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 666px;
    box-sizing: border-box;
    margin: 19px;
}

.post{
    border: 0.1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 666px;
    box-sizing: border-box;
    margin: 7px 19px;
}  

.content{
    font-size: 13px;
}

.username{
    font-size: 12px;
}

.date{
    font-size: 12px;
    color: rgb(89, 89, 89);
}