.body {
    background-color: aliceblue;
}

.new-post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.all-posts{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 22px;
}

#post{
    border: .22px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 11px 22px;
    max-width: 666px;
}

.username{
    font-size: 22px;
    font-weight: bolder;
}
.content{
    font-size: 19px;
}

.date{
    color: gray;
    font-size: 11px;
}

.head {
    font-weight: bolder;
    font-size: 111px;
}

.newpostHead {
    font-weight: bolder;
    font-size: 37px;
}
